{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block content_title %}Stwórz nowy wpis{% endblock %}

{% block content %}
<form action="{{ url_for('entries.create') }}" class="form form-horizontal" method="post">
    {% for field in form %}
        {{ form_field(field) }}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <input type="submit" value="Dodaj wpis" class="btn btn-primary">
            <a class="btn btn-link" href="{{ url_for('entries.index') }}">Anuluj</a>
        </div>
    </div>
</form>
{% endblock %}