{% extends "base.html" %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block sidebar %}
<ul class="well nav nav-stacked">
    <li><h4>Tagi</h4></li>
    {% for tag in entry.tags %}
    <li><a href="{{ url_for('entries.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

{% block content %}
{{ entry.content }}
{% if g.user == entry.author %}
<li>Akcje:</li>
<li><a href="{{ url_for('entries.edit',slug=entry.slug) }}">Edytuj</a></li>
<li><a href="{{ url_for('entries.delete',slug=entry.slug) }}">Usuń</a></li>
{% endif %}
{% endblock %}

